# Series

Introduction to Pandas Series

In [2]:
# Import Pandas library
import pandas as pd

## Create Series From Python List

In [6]:
simple_list = ["one", "two", "three"]

In [11]:
# Create Panda Series from simple python list of strings
pd.Series(data=simple_list)

0      one
1      two
2    three
dtype: object

Result template:

    Index0 Value0
    Index1 Value1
    dtype: DataType of the values

In [13]:
# Create Panda Series from simple python list of strings
simple_list_of_integers = [1, 2, 3]

In [12]:
pd.Series(simple_list_of_integers)

0    1
1    2
2    3
dtype: int64

In [16]:
simple_list_of_mix_values = [1, True, "Hello", None, [0, 9, 8], {"name": "Pandas"}]

In [17]:
pd.Series(simple_list_of_mix_values)

0                       1
1                    True
2                   Hello
3                    None
4               [0, 9, 8]
5    {u'name': u'Pandas'}
dtype: object

## Create Series From Python Dictionary

In [18]:
simple_dict = {"first_name": "Steve", 
               "last_name": "Mcurry",
               "age": 17}

In [20]:
# Create Panda Series from simple python dictionary
pd.Series(simple_dict)

age               17
first_name     Steve
last_name     Mcurry
dtype: object

Each **KEY** of the dictionary will be used as **INDEX** of the Series.

## Attributes

In [24]:
s = pd.Series(simple_list)

In [25]:
s

0      one
1      two
2    three
dtype: object

In [29]:
# Values
s.values

array(['one', 'two', 'three'], dtype=object)

In [30]:
# Index
s.index

RangeIndex(start=0, stop=3, step=1)

In [36]:
# dtype
s.dtype

dtype('O')

Most common Data Types:
    
    dtype('O') --> Object
    dtype('int64') --> Integer
    dtype('float64') --> Float
    dtype('bool') --> Bool

## Methods

In [42]:
s = pd.Series([1.21, 1.90, 1.55])
s

0    1.21
1    1.90
2    1.55
dtype: float64

In [43]:
# Sum Method, sum all the values of the Series
s.sum()

4.6600000000000001

In [44]:
# Product Method
s.product()

3.56345

In [45]:
# Mean Method
s.mean()

1.5533333333333335

## Parameter & Arguments

Create new Series giving a custom **INDEX** list.

In [50]:
colors_list = ["red", "blue", "green", "yellow"]
numbers = ["one", "two", "three", "four"]

# pd.Series(colors_list, numbers) 
# pd.Series(colors_list, index=numbers) 
pd.Series(data=colors_list, index=numbers)

one         red
two        blue
three     green
four     yellow
dtype: object

We can duplciate **INDEX**.

In [53]:
colors_list = ["red", "blue", "green", "yellow"]
numbers = ["one", "one", "one", "one"]

# pd.Series(colors_list, numbers) 
# pd.Series(colors_list, index=numbers) 
pd.Series(data=colors_list, index=numbers)

one       red
one      blue
one     green
one    yellow
dtype: object

## Other Attributes

In [55]:
s = pd.Series(colors_list)
s

0       red
1      blue
2     green
3    yellow
dtype: object

In [57]:
# Only UNIQUE values?
s.is_unique

True

In [59]:
# N Dimension
s.ndim

1

In [62]:
# Number of (Rows, Columns)
s.shape

(4,)

In [63]:
# Size
s.size

4

In [67]:
# Name of the Series
print s.name
s = pd.Series(colors_list, name="Hello")
print s.name
print s

Hello
Hello
0       red
1      blue
2     green
3    yellow
Name: Hello, dtype: object